<!DOCTYPE html>
<html>
<head>
<title>Изучаем Vue.js</title>
<meta charset="utf-8" />
</head>
<body>
<div id="app1">
    <input type="text" v-model="name" />
    <input type="number" v-model="age" />
    <p>{{name}} - {{age}} - {{position}}</p>
</div>
<script src="https://unpkg.com/vue"></script>
<script>
var vm1 = new Vue({
    el: '#app1',
    data: {name:'Tom', age: 34}
});
vm1.setAge = function(value){
    vm1.age = value;
}
vm1.position = "admin";
setTimeout(function(){
    vm1.position = "moderator";
}, 3000);
</script>
</body>
</html>